{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        }
      }
    ], ["react"]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}